
.container {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    
  }

.userImage{
  width: 8%; 
  height: 100%;
  float: right; 
  margin-top: 25px;
}

.parempiValintaImage{
  width: 20%; 
  float: left; 
  margin-top: 9px;
}

.footerCopyright{
  margin-top: 25px;
  color: white;
}

.headerImage{
  width: 100%; 
  height: 100%; 
  margin-bottom: 10px;
}

.usersMobileOn{
  display: none;
}
.foodsMobileOn{
  display: none;
}
.foodsMobileOff{
  display: none;
}

.browserPages{
  display: block;
}

.mobileFooterMenuDashboard{
  display: none;
} 

.mobileSidebarOff{
  display: none;
}
.mobileSidebarOn{
  display: none;
}

.dashboardContent{
  padding: 0px; 
  width: 86%; 
  float: right;
}

.dashBoardInputs{
  float: left;
  width: 15%;
}

.foodsInputtwenty{
  float: left;
  width: 20%;
}

.foodsInputdesc{
  float: left;
  width: 25%;
}

.foodsInputsave{
  float: left;
  width: 10%;
}

.schoolsInput{
  float: left;
  width: 20%;
}

.schoolsSave{
  float: left;
  width: 10%;
}

.dashBoardInputsAdmincheckbox{
  float: left;
  width: 5%;
  margin-top: 25px;
}

.mobilefeedback{
  display: none;
}

.browserfeedback{
  display: block;
}

.sidebar{
  display: block;
}

@media only screen and (max-width: 600px) {

  .sidebar{
    display: none;
  }

  .mobilefeedback{
    display: block;
  }
  
  .browserfeedback{
    display: none;
  }

  .schoolsSave{
    float: left;
    width: 90%;
  }

  .schoolsInput{
    float: left;
    width: 90%;
  }

  .foodsInputsave{
    float: left;
    width: 90%;
  }

  .foodsInputdesc{
    float: left;
    width: 90%;
  }

  .foodsInputtwenty{
    float: left;
    width: 90%;
  }

  .dashBoardInputs{
    float: left;
    width: 90%;
  }

  .dashBoardInputsAdmincheckbox{
    float: left;
    width: 90%;
    
  }

  .dashboardContent{
    float: left;
    width: 100%;
  }

  .userImage{
    width: 30%; 
    height: 100%;
    float: right; 
    margin-top: 25px;
  }
  .nav-tabs>li{
    display: none;
    /* width: 30%; */
  }
  .mobileSidebarOn{
    display: block;
    background-color: #ed6c41; 
    height: 300px; 
    position: sticky; 
    z-index: 30; 
    width: 34%; 
    right: 0;
    bottom: 0;
    margin-left: 66%;
    border: solid 2px grey;
  }
  .mobileSidebarOff{
    display: none;
  }


  .mobileFooterMenuDashboard{
    display: block;
    /* background-color: #ed6c41;  */
    height: 60px; 
    position: sticky; 
    z-index: 30; 
    width: 100%; 
    bottom: 0;
  } 
  .parempiValintaImage{
    width: 24%; 
    float: left; 
    /* margin-top: 22px; */
  }
  .footerCopyright{
    margin-top: 10px;
    color: white;
    font-size: 15px !important;
  }
  .tabStyleMobile{
    width: 33% !important;
  }
  .footerDiv{
    display: none;
  }
  .navbar-collapse collapse{
    display: none;
  }
  .headerImage{
    display: none;
  }
  .browserPages{
    display: none;
  }
  .usersMobileOn{
    display: block;
  }
  .usersMobileOff{
    display: none;
  }
  .foodsMobileOn{
    display: block;
  }
  .foodsMobileOff{
    display: none;
  }
  
}

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: normal;
  src:
    local('SF-Pro'),
    local('SF-Pro'),
    url('./SF-Pro-Display-Light.otf') format('opentype');
}

body {
  font-family: 'SF-Pro';
}